buta-nodered
[{"id":"4a074da52c8702d5","type":"tab","label":"buta","disabled":false,"info":"","env":[]},{"id":"03d0efd6a650c998","type":"mqtt in","z":"4a074da52c8702d5","name":"","topic":"buta/jarak","qos":"0","datatype":"auto-detect","broker":"a12334b89e57be2a","nl":false,"rap":true,"rh":0,"inputs":0,"x":380,"y":340,"wires":[["eb5a11624e0d446c","f8e20cc452c8edf1"]]},{"id":"eb5a11624e0d446c","type":"ui_gauge","z":"4a074da52c8702d5","name":"","group":"f9e45f7b1d2eaf69","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#b30036","#00e604","#593acb"],"seg1":"30","seg2":"1000","diff":false,"className":"","x":670,"y":300,"wires":[]},{"id":"f8e20cc452c8edf1","type":"ui_text","z":"4a074da52c8702d5","group":"f9e45f7b1d2eaf69","order":2,"width":0,"height":0,"name":"","label":"Jarak","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":670,"y":340,"wires":[]},{"id":"e2e12539af54e05d","type":"mqtt in","z":"4a074da52c8702d5","name":"","topic":"buta/suis","qos":"2","datatype":"auto-detect","broker":"a12334b89e57be2a","nl":false,"rap":true,"rh":0,"inputs":0,"x":380,"y":240,"wires":[["68c7e82242e290c0","20a154dbad8d7939"]]},{"id":"68c7e82242e290c0","type":"ui_text","z":"4a074da52c8702d5","group":"f9e45f7b1d2eaf69","order":3,"width":0,"height":0,"name":"","label":"suis","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":610,"y":240,"wires":[]},{"id":"20a154dbad8d7939","type":"switch","z":"4a074da52c8702d5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":450,"y":120,"wires":[["c71df1db69a6e268","27773b28ed6d54e9","2429a89c4bd79da5"]]},{"id":"c71df1db69a6e268","type":"debug","z":"4a074da52c8702d5","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":80,"wires":[]},{"id":"64b0bfc9f10bf4f6","type":"telegram sender","z":"4a074da52c8702d5","name":"","bot":"c420244c5b505a45","haserroroutput":false,"outputs":1,"x":930,"y":160,"wires":[[]]},{"id":"27773b28ed6d54e9","type":"function","z":"4a074da52c8702d5","name":"function 3","func":"msg.payload = {}\nmsg.payload.chatId = \"43413496\"\nmsg.payload.type = \"message\"\nmsg.payload.content = \"Saya dalam Masalah..sila hubungi saya\"\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":160,"wires":[["64b0bfc9f10bf4f6"]]},{"id":"3cd5c9cc845c307c","type":"telegram sender","z":"4a074da52c8702d5","name":"","bot":"c420244c5b505a45","haserroroutput":false,"outputs":1,"x":970,"y":240,"wires":[[]]},{"id":"2429a89c4bd79da5","type":"function","z":"4a074da52c8702d5","name":"mak","func":"msg.payload = {}\nmsg.payload.chatId = \"43413496\"\nmsg.payload.type = \"message\"\nmsg.payload.content = \"Saya dalam Masalah..sila hubungi saya\"\n\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":240,"wires":[["3cd5c9cc845c307c"]]},{"id":"6e1650ceb4918c6c","type":"mqtt in","z":"4a074da52c8702d5","name":"","topic":"buta/suhu","qos":"2","datatype":"auto-detect","broker":"a12334b89e57be2a","nl":false,"rap":true,"rh":0,"inputs":0,"x":380,"y":460,"wires":[["661f14449592bbc4"]]},{"id":"661f14449592bbc4","type":"ui_gauge","z":"4a074da52c8702d5","name":"","group":"f9e45f7b1d2eaf69","order":4,"width":0,"height":0,"gtype":"gage","title":"suhu","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":610,"y":460,"wires":[]},{"id":"a12334b89e57be2a","type":"mqtt-broker","name":"HIVEMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f9e45f7b1d2eaf69","type":"ui_group","name":"Buta","tab":"4116b6f78dfa3fd3","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"c420244c5b505a45","type":"telegram bot","botname":"buta","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"4116b6f78dfa3fd3","type":"ui_tab","name":"jarak","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
